$base-spacing:            1rem;
$body-font:               'Source Sans Pro', sans-serif;
$mobile:                  20rem;
$tablet-portrait:         48rem;
$tablet-landscape:        64rem;
$desktop:                 80rem;
$big-desktop:             90rem;
$green:                   #1AAB8A;
$black:                   #0C090A;
$starYellow:              #fde16d;
$starGrey:                #b1b1b1;
